<div id="id_create" class="center">
    <div id="id_create_title">
        <p>Tytuł</p>
        <input type="text" class="form-control input-cl" placeholder="">
    </div>
    <div id="id_fil_price">
        <p>Cena</p>
        <input type="text" class="form-control input-cl" placeholder="">
    </div>
</div>