<div id="id_create" class="center">
    <div id="id_create_title">
        <p>Tytuł</p>
        <input type="text" class="form-control input-cl" placeholder="">
    </div>
    <div id="id_fil_price">
        <p>Cena</p>
        <input type="text" class="form-control input-cl" placeholder="">
    </div>
    <div id="id_fil_time">
        <p>Godzina rozpoczęcia</p>
        <input type="time" class="form-control input-cl" placeholder="">
    </div>
    <div id="id_fil_date">
        <p>Data rozpoczęcia</p>
        <input type="date" class="form-control input-cl" placeholder="">
    </div>
</div>