<div id="id_events">
    asd
</div>

<h2>Filtry</h2>

<div id="id_fil" class="center margin-top">
    <ul>
        <li>Sport</li>
        <li>Kino</li>
        <li>Imprezy</li>
    </ul>
    <div id="id_fil_price" class="margin-top">
        <p>Cena</p>
        <input type="text" class="form-control input-cl" placeholder="Od">
        <input type="text" class="form-control input-cl" placeholder="Do">
    </div>
    <div id="id_fil_age" class="margin-top">
        <p>Przedział wiekowy</p>
        <input type="text" class="form-control input-cl" placeholder="Od">
        <input type="text" class="form-control input-cl" placeholder="Do">
    </div>
</div>

