<div id="id_fil" class="center cog" style="display: none;">
    <h2>Filtry</h2>
    <ul>
        <li>Sport</li>
        <li>Kino</li>
        <li>Imprezy</li>
    </ul>
    <div id="id_fil_price" class="margin-top">
        <p class="float">Cena</p>
        <input type="text" class="form-control input-cl" placeholder="Od">
        <input type="text" class="form-control input-cl" placeholder="Do">
    </div>
    <div id="id_fil_age" class="margin-top">
        <p class="float">Przedział wiekowy</p>
        <input type="text" class="form-control input-cl" placeholder="Od">
        <input type="text" class="form-control input-cl" placeholder="Do">
    </div>
</div>

<div class="Outgoing-Wrapper">
    <div class="Outgoing-Wrapper-Content">
        <ul class="Outgoing-List">
            <li>
                <div class="Outgoing-Box">
                    <div class="Outgoing-Box-Image"></div>
                    <div class="Outgoing-Box-Description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus condimentum diam sed ullamcorper. Duis venenatis magna quis libero cursus cursus. Sed ut vulputate velit. Morbi dictum congue dui quis vestibulum. Fusce semper felis nulla, ut consectetur leo egestas quis. Proin et felis vel tortor condimentum interdum eu a libero.
                        </p>
                        <p class="Outgoing-Box-Participants">
                            Osób bierze udział: 1
                        </p>
                        <a class="btn btn-Invite">Weź udział</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="Outgoing-Box">
                    <div class="Outgoing-Box-Image"></div>
                    <div class="Outgoing-Box-Description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus condimentum diam sed ullamcorper. Duis venenatis magna quis libero cursus cursus. Sed ut vulputate velit. Morbi dictum congue dui quis vestibulum. Fusce semper felis nulla, ut consectetur leo egestas quis. Proin et felis vel tortor condimentum interdum eu a libero.
                        </p>
                        <p class="Outgoing-Box-Participants">
                            Osób bierze udział: 1
                        </p>
                        <a class="btn btn-Invite">Weź udział</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="Outgoing-Box">
                    <div class="Outgoing-Box-Image"></div>
                    <div class="Outgoing-Box-Description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus condimentum diam sed ullamcorper. Duis venenatis magna quis libero cursus cursus. Sed ut vulputate velit. Morbi dictum congue dui quis vestibulum. Fusce semper felis nulla, ut consectetur leo egestas quis. Proin et felis vel tortor condimentum interdum eu a libero.
                        </p>
                        <p class="Outgoing-Box-Participants">
                            Osób bierze udział: 1
                        </p>
                        <a class="btn btn-Invite">Weź udział</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="Outgoing-Box">
                    <div class="Outgoing-Box-Image"></div>
                    <div class="Outgoing-Box-Description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus condimentum diam sed ullamcorper. Duis venenatis magna quis libero cursus cursus. Sed ut vulputate velit. Morbi dictum congue dui quis vestibulum. Fusce semper felis nulla, ut consectetur leo egestas quis. Proin et felis vel tortor condimentum interdum eu a libero.
                        </p>
                        <p class="Outgoing-Box-Participants">
                            Osób bierze udział: 1
                        </p>
                        <a class="btn btn-Invite">Weź udział</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="Outgoing-Box">
                    <div class="Outgoing-Box-Image"></div>
                    <div class="Outgoing-Box-Description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus condimentum diam sed ullamcorper. Duis venenatis magna quis libero cursus cursus. Sed ut vulputate velit. Morbi dictum congue dui quis vestibulum. Fusce semper felis nulla, ut consectetur leo egestas quis. Proin et felis vel tortor condimentum interdum eu a libero.
                        </p>
                        <p class="Outgoing-Box-Participants">
                            Osób bierze udział: 1
                        </p>
                        <a class="btn btn-Invite">Weź udział</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
